@use "./partials/devices" as media;
@use "./partials/mixins" as mixin;
@use "./partials/palette";
@use "./modules/sticky";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

html {
    background: url(./../images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    // above set the background to fill
    background-size: cover;
    scroll-behavior: smooth;
}
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: palette.$palette-1;
}
header {
    @include mixin.centered-col;
    height: 100vh;
    color: white;
    text-align: center;
    font-size: 3em;
}
nav {
    @include mixin.centered-col;
    height: 4em;
    z-index: 1;
    width: 100%;
    background-color: palette.$palette-1;
    color: white;
    box-shadow: 0px 10px 13px -7px black;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    padding: 0px;
    &__item {
        color: white;
        display: inline-block;
        font-weight: bolder;
        font-size: 1.5em;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        &:link {
            color: white;
        }
        &:hover {
            transform: scale(1.5);
        }
        &:visited {
            color: white;
        }
    }
}
.main-container {
    @include mixin.centered-col;
    &__big-card {
        border-radius: 20px;
        display: grid;
        grid-template-areas: 
            "title content"
            "description content";
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 4fr;
        background-color: palette.$palette-4;
        opacity: 0.7;
        width: 90%;
        height: fit-content;
        padding: 20px;
        &--skills {
            @include mixin.sizes(fit-content, 15vh);
        }
        &--projects {
            @include mixin.sizes(fit-content, 15vh);
        }
        &--about {
            @include mixin.sizes(fit-content, 5vh);
        }
        &--contact {
            @include mixin.sizes(fit-content, 5vh);
        }
        & .description {
            grid-area: description;
            background-color: white;
            padding: 20px;
            border-radius: 20px;
            margin-right: 20px;
            height: fit-content;
        }
        & h2 {
            grid-area: title;
            text-align: center;
            font-size: 3em;
            color: palette.$palette-1;
        }
        & .content {
            grid-area: content;
            color: palette.$palette-5;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 20px;
            background-color: white;
            height: fit-content;
            &--skills {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-items: center;
                align-items: center;
            }
            &--projects {
                display: grid;
                grid-template-columns: 1fr 3fr;
                padding: 20px;
                justify-content: space-around;
            }
            &--about {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                justify-content: space-around;
                align-items: center;
                padding: 20px;
            }
        }
    }
}
img {
    border-radius: 20px;
    width: 20vh;
    margin: 10px;
}
.anchors {
    scroll-margin-top: 15vh;
}
.fab {
    font-size: 10em;
    padding: 20px;
    border: 2px solid palette.$palette-1;
    border-radius: 20px;
    & a {
        color: palette.$palette-5;
    }
}
.fas {
    @extend .fab; 
}
footer {
    text-align: center;
    color: white;
    margin: 10px;
}
