@use "./partials/devices" as media;
@use "./partials/mixins" as mixin;
@use "./partials/palette";
@use "./modules/sticky";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

html {
    background: url(./../images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    // above set the background to fill
    background-size: cover;
    scroll-behavior: smooth;
    font-size: 20px;
}
body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: palette.$palette-1;
}
.header {
    @include mixin.centered-col;
    width: 100%;
    height: 100vh;
    color: white;
    text-align: center;
    // font-size: 3em;
    & h1 {
        width: 100%;
        font-size: 8vmax;
    }
}
nav {
    @include mixin.centered-col;
    height: 4em;
    z-index: 1;
    width: 100%;
    background-color: palette.$palette-1;
    color: white;
    box-shadow: 0px 10px 13px -7px black;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    text-transform: uppercase;
    padding: 0px;
    &__item {
        display: inline-block;
        font-weight: bolder;
        font-size: 3vmax;
        @include media.laptop {
            font-size: 2vmax;
        }
        @include media.desktop {
            font-size: 2vmax;
        }
        @include media.max {
            font-size: 2vmax;
        }
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        &:link {
            color: white;
        }
        &:hover {
            transform: scale(1.2);
        }
        &:visited {
            color: white;
        }
    }
}
.main-container {
    @include mixin.centered-col;
    &__big-card {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        @include media.laptop {
            @include mixin.bigScreenCard;
        }
        @include media.desktop {
            @include mixin.bigScreenCard;
        }
        @include media.max {
            @include mixin.bigScreenCard;
        }
        background-color: palette.$palette-4;
        opacity: 0.7;
        width: 90%;
        padding: 2%;
        &--skills {
            @include mixin.sizes(auto, 10vh);
        }
        &--projects {
            @include mixin.sizes(auto, 10vh);
        }
        &--about {
            @include mixin.sizes(auto, 10vh);
        }
        &--contact {
            @include mixin.sizes(auto, 10vh);
        }
        & .description {
            grid-area: description;
            background-color: palette.$palette-2;
            color: white;
            padding: 5%;
            border-radius: 20px;
            margin: 5%;
            height: fit-content;
        }
        & h2 {
            grid-area: title;
            text-align: center;
            font-size: 3em;
            color: palette.$palette-1;
        }
        & .content {
            grid-area: content;
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color: white;
            border-radius: 20px;
            color: palette.$palette-5;
            height: fit-content;
            &--skills {
                flex-wrap: wrap;
                justify-content: space-around;
                align-items: center;
            }
            &--projects {
                @include media.laptop {
                    @include mixin.bigScreenDesc;
                }
                @include media.desktop {
                    @include mixin.bigScreenDesc;
                }
                @include media.max {
                    @include mixin.bigScreenDesc;
                }
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                padding: 2%;
            }
            &--about {
                display: flex;
                flex-wrap: wrap;
                padding: 2%;
            }
            &--contact {
                display: flex;
                flex-wrap: wrap;
            }
        }
    }
}
.image {
    border-radius: 20px;
    margin: 2%;
    &--about {
        max-width: 25%;
        height: auto;
        border: 2px solid palette.$palette-2;
        &:hover {
            box-shadow: 0px 10px 13px -7px black;
        }
    }
    &--projects {
        max-width: 90%;
        height: auto;
    }
}
.anchors {
    scroll-margin-top: 15vh;
}
.fab {
    display: inline-flex;
    font-size: 10vmax;
    padding: 2%;
    margin: 2%;
    border: 1px solid rgba($color: #000000, $alpha: 0); // transparent border so adding it on hover doesn't move elements
    &:hover {
        border: 1px solid black;
        box-shadow: 0px 10px 13px -7px black;

    }
}
.fas {
    @extend .fab; 
}
footer {
    text-align: center;
    color: white;
    margin: 10px;
}
