/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navbar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .main-container {
  padding-top: 102px;
}

html {
  background: url(./../images/background.jpg) no-repeat center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  margin: 0px;
  font-family: arial;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  text-align: center;
  font-size: 3em;
}

#navbar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  width: 100%;
  background-color: #1a2a40;
  color: white;
  box-shadow: 0px 10px 13px -7px black;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style: none;
  justify-content: space-around;
  text-transform: uppercase;
  padding: 0px;
}
.navbar a {
  display: inline-block;
  font-weight: bolder;
  font-size: 1.5em;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
}
.navbar a:hover {
  transform: scale(1.5);
}
.navbar a:visited {
  color: white;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-container__big-card {
  display: grid;
  grid-template-columns: 1fr 3fr;
  background-color: #f2bea0;
  opacity: 0.7;
  height: 500px;
  width: 90%;
  padding: 20px;
  margin: 20px;
}
.main-container__spacer {
  position: fixed;
  top: 0px;
  height: 100px;
}
.main-container .content {
  background-color: white;
  width: 100%;
  height: 100%;
}

footer {
  text-align: center;
  color: white;
  margin: 10px;
}
