header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  border: 2px solid black;
  height: 500px;
  width: 10%;
}

#navList {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
}
