@mixin centered-col() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@mixin sizes($height, $margin) {
    height: $height;
    margin: $margin;
}
// @mixin centered-row {

// }
